@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tg-theme-bg-color: #f4f4f4;
  }

  .dark {
    --tg-theme-bg-color: #f4f4f4;

  }
}

html,body {
  font-family: 'Inconsolata', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1c1c;
  color: #1c1c1c;
}

blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

pre {
  overflow: auto;
}
input[type="range"] {
  display: block;
  position: relative;
  outline: none;
  appearance: none;
  cursor: pointer;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #f4f4f440;
  height: 4px;
  border-radius: 3px;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: #f4f4f4;
  width: 16px;
  height: 20px;
  border-radius: 3px;
  appearance: none;
  margin: -8px 0 0 0;
  position: relative;
}

.loader {
  width: 36px;
  height: 36px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 3px solid #000000;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}
.loaderPage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loaderPage::before , .loaderPage::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 1s linear infinite ;
}
.loaderPage::after{
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg );
  border-color: #FF3D00;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}


@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}